@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./../content/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("./../content/fonts/Gilroy-Light.otf") format("opentype");
}

:root {
  --color-primary1: var(--color-light-primary1);
  --color-secundary1: var(--color-light-secundary1);
  --color-primary2: var(--color-light-primary2);
  --color-secundary2: var(--color-light-secundary2);
  --color-accent: var(--accent-light);

  --color-light-primary1: #ececec;
  --color-light-secundary1: #7137f8;
  --color-light-primary2: #704cc6;
  --color-light-secundary2: #4d1dae;

  --color-dark-primary1: #7137f8;
  --color-dark-secundary1: #16141a;
  --color-dark-primary2: #27262b;
  --color-dark-secundary2: #27262b;

  --accent-light: #ececec;
  --accent-dark: #7144d8;
  --accent-cyan: #00fcff;
  /* --accent-yellow: #ffe600; */
  --accent-pink: #ea00ff;

  --font-title: Gilroy-ExtraBold;
  --font-subtitle: Gilroy-ExtraBold;
  --font-paragraph: Gilroy-Light;
}

body {
  font-family: var(--font-paragraph);
  color: var(--color-primary1);
  background-color: var(--color-secundary1);
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}
.button-interaction:hover {
  transform: scale(110%);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  /* filter: brightness(1.7); */
  user-select: none;
  cursor: pointer;
}
.separator-image {
  width: 80%;
  margin: 2rem auto;
}
.hr-separator-title-content {
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, var(--color-primary1), transparent);
}
nav {
  margin: auto;
  font-size: 0.9rem;
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 6fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  /* background-color: var(--color-dark-primary2); */
}
nav button {
  cursor: pointer;
  user-select: none;
}

section {
  margin-top: 4rem;
}
.nav-logo {
  grid-column: 1 / 2;
}
.nav-logo img {
  width: 10rem;
  user-select: none;
  cursor: pointer;
}
.nav-options {
  grid-column: 2 / 3;
  width: 100%;
}
.nav-options ul {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  width: 80%;
}
.nav-options ul li button {
  margin: 0.7rem;
  padding: 0.7rem;
  font-family: var(--font-subtitle);
}
.nav-options ul li button:hover {
  /* color: var(--accent-light); */
  color: gray;
}
/* .nav-options--button-clicked {
    border: 0.01rem solid var(--color-primary1);
    border-radius: 0.5rem;
} */
/* .nav-bar-option {
    display: none;
} */
.nav-bar-setux {
  display: none;
}

.nav-setux {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}
.nav-setux button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  font-family: var(--font-subtitle);
}
.nav-setux .div-setux--buttom-theme span {
  width: 1.5rem;
  margin: 0 0.25rem;
}
.nav-setux .div-setux--buttom-theme span svg {
  width: 1.5rem;
  height: 1.5rem;
}
.nav-setux .div-setux--buttom-theme .theme-desactivated {
  display: none;
}

.div-setux--item-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: larger;
}
.nav-setux .div-setux--buttom-language span {
  width: 2rem;
  margin: 0 0.25rem;
}
.nav-setux button span:hover {
  /* color: var(--color-light-primary1); */
  color: gray;
}
.div-setux--item-menu .language-activated {
  font-family: var(--font-paragraph);
}
.div-setux--item-menu {
  font-family: var(--font-title);
}
.div-setux--item-menu {
  position: relative;
}

.button-home-main {
  display: none;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  z-index: 149;
  width: 2.5rem;
  height: 2.5rem;
  /* border: 1px solid var(--color-primary1);
  border-radius: 50%;
  background-color: var(--color-secundary1); */
  opacity: 0.6;
  user-select: none;
}
.button-home-main button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* .setux-option--menu {
    display: none;
    position: absolute;
    left: 1rem;
    z-index: 5;
    width: 6rem;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-secundary1);
    border: 0.01rem solid var(--color-primary1);
    border-radius: 0.5rem;
}
.setux-option--menu li:hover{
    color: var(--color-light-primary1);
}
.setux-option--menu-theme-selected, .setux-option--menu-language-selected {
    color: var(--color-light-primary1);
} */

/* ? RESPONSIVE NAV CONFIGURATION*/
.nav-bar-option {
  position: fixed;
  display: none;
  background-color: rgba(156, 156, 156, 0.5);
  justify-content: end;
  width: 100svw;
  height: 100svh;
  top: 0;
  z-index: 150;
}
.nav-bar-option--frame {
  display: flex;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  flex-direction: column;
  background-color: var(--color-secundary2);
  height: 100svh;
}
.nav-bar-option--frame p {
  padding-left: 1.5rem;
}
.nav-bar-option--frame button {
  width: 100%;
  font-size: 1.3rem;
  font-family: var(--font-subtitle);
  margin-top: 1.3rem;
}
.frame--bar-close {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.nav--bar-button-close {
  grid-column: 2 / 3;
}
.nav-bar-option--logo {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 45%;
}
.nav-bar-option--logo img {
  width: 8rem;
  align-items: end;
}
.div-setux--buttom-language.nav--bar-button-option.nav--bar-button-option {
  display: none;
}

.background {
  width: 100%;
  user-select: none;
} /*
.div-background--left {
    grid-column: 1 / 2;
    width: 100%;
    background-color: var(--color-secundary1);
}
.div-background {
    grid-column: 2 / 3;
}
.div-background--right {
    grid-column: 3 / 4;
    width: 100%;
    background-color: var(--color-primary2);
}*/
#main-banner {
  margin: auto;
  width: 80%;
  display: block;
  position: relative;
}
.paragraph {
  background-image: url("../img/logo/Fondo-Dark.png");
  background-size: cover; /* Cubre todo el contenedor */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: var(--font-title);
  font-size: 3.7rem;
  user-select: none;
}
.div-paragraph--greetting > span:first-child {
  color: var(--accent-light);
}
.div-paragraph--greetting {
  margin-top: 1em;
  padding-left: 0.4em;
}
.paragraph div {
  line-height: 1em;
}
.div-paragraph--profession {
  font-size: 0.6em;
  font-family: var(--font-paragraph);
  font-style: italic;
  color: var(--accent-light);
  padding: 0.4em;
}
.div-paragraph--rrss {
  margin: 0.7em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--accent-light);
}
.div-paragraph--rrss button {
  position: relative;
  display: block;
  width: 0.7em;
  height: 0.7em;
  margin: 0.3em;
  cursor: pointer;
}
.div-paragraph--rrss button > svg {
  position: absolute;
  top: 0;
  left: 0;
}
.div-paragraph--rrss button:first-child > svg {
  top: 0.05em;
}
.div-paragraph--rrss button svg:hover {
  transform: scale(125%);
  border-radius: 0.5rem;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: linear;
}

.separador-animado {
  margin: auto;
  width: 80%;
  background: var(--accent-dark);
  height: 1px;
  overflow: hidden;
  position: relative;
}
.separador-animado::before {
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: separador-animado-animacion;
  background: var(--accent-light);
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 80px;
}

@keyframes separador-animado-animacion {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1440px);
  }
}

.letter-animation-big {
  font-size: 1.3em;
  text-shadow:
    -0.05em 0.05em 0.1em var(--color-accent),
    0.05em 0.05em 0.1em var(--color-accent),
    0.05em -0.05em 0.1em var(--color-accent),
    -0.05em -0.05em 0.1em var(--color-accent);
}
.letter-animation-medium {
  font-size: 1.1em;
  text-shadow:
    -0.03em 0.03em 0.06em var(--color-accent),
    0.03em 0.03em 0.06em var(--color-accent),
    0.03em -0.03em 0.06em var(--color-accent),
    -0.03em -0.03em 0.06em var(--color-accent);
}

@keyframes greeting {
  0% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(40deg);
  }
  90% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
.wave {
  display: inline-block;
}
.wave:hover {
  animation-name: greeting;
  animation-duration: 0.3s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
}
.wave-from-name {
  animation-name: greeting;
  animation-duration: 0.3s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
}

.cards-work-experience {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
}
.card-skill-work-experience {
  width: 327px;
  margin-bottom: 1.5rem;
  height: fit-content;
  padding: 0;
  border-radius: 1rem;
  background-color: var(--color-primary2);
  /* border: 2px dotted var(--color-primary1); */
  box-shadow: 3px 3px 20px 1px var(--color-primary1);
}
.card-skill-work-experience .work-presentation {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}
.card-skill-work-experience .work-presentation img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.card-skill-work-experience .work-presentation h4 {
  font-family: var(--font-subtitle);
  color: var(--color-primary1);
  text-shadow: 0 0 0.5rem var(--color-secundary1);
}
.card-skill-work-experience .work-presentation h5 {
  font-size: small;
  color: white;
}
.work-description {
  padding: 0 1rem 1rem 1rem;
  color: white;
}
.work-description h4 {
  font-family: var(--font-subtitle);
  color: var(--color-primary1);
}

.work-presentation-test {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* background-image: url('./../img/banner-codeIgniter.png');
    background-size: cover;
    background-position: center; */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  height: 10rem;
}
.work-presentation-test img {
  position: absolute;
  right: 0;
  top: 0;
  width: 327px;
  height: 10rem;
  z-index: 0;
  object-fit: cover;
  filter: blur(0.1rem);
}
.work-presentation-test .work-title {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-subtitle);
  color: white;
  text-shadow: 0 0 0.5rem var(--color-secundary1);
  font-size: 1.5rem;
}
.work-presentation-test .work-info {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 0.5rem;
  z-index: 10;
}
.work-info .work-info-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: small;
  color: white;
}
.work-info-tags .work-info-tag {
  margin: 0 0.2rem;
  background-color: var(--color-light-secundary2);
  padding: 0.1rem 0.3rem;
  border-radius: 10px;
}
.work-info a {
  font-family: var(--font-subtitle);
  color: white;
  text-shadow: 0 0 0.5rem var(--color-secundary1);
}

.work-character-test {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  margin-bottom: 0.8rem;
  color: white;
  font-size: small;
  /* background-color: var(--color-primary2);
  /* background-image: linear-gradient(to bottom, transparent, orangered); */
  /* border-bottom-left-radius: 1rem; */
  /* border-bottom-right-radius: 1rem; */
}
.work-tag {
  display: block;
  font-size: small;
  background-color: var(--color-light-secundary2);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.1rem 0.3rem;
  margin: 0.2rem;
}

.work-character {
  padding: 0 1rem 1rem 1rem;
  color: white;
}
.work-character li i {
  color: var(--color-primary1);
}
.work-character li {
  margin-bottom: 1rem;
}
.technologies-applicated {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 1rem 1rem;
  justify-content: center;
}
.technologies-applicated svg {
  width: 2rem;
  margin: 0.2rem;
}

#main-skills h2 {
  text-align: center;
  font-family: var(--font-title);
  font-size: xx-large;
  margin-bottom: 2rem;
}

#main-presentation {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* background-image: url('../img/fondo_hexagono_3.png');
    background-repeat: no-repeat;
    background-color: transparent; */
  /* background: rgb(0,252,255); */
  background: radial-gradient(
    circle,
    rgba(0, 252, 255, 0.5) 10%,
    rgba(0, 0, 0, 0) 80%
  );
  padding: 3rem 0;
}

#main-presentation > img {
  width: 20%;
  height: 20%;
}
.main-presentation--frame {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  border-radius: 1rem;
  justify-content: center;
}
.main-presentation--frame .img-presentation {
  background-color: var(--color-primary2);
  width: 13rem;
  height: 13rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.main-presentation--frame .img-anillado {
  position: absolute;
  left: -1rem;
  top: 0;
  width: 2rem;
  height: 13rem;
}
.main-presentation-frame--description {
  position: relative;
  background-color: var(--color-primary2);
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 1rem 0 1rem;
  padding-left: 2rem;
  justify-content: space-between;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  /* border: 2px dotted var(--color-primary1); */
  box-shadow: 3px 3px 20px 1px var(--color-primary1);
}
.main-presentation-frame--description-paragraph .title-presentation {
  font-family: var(--font-subtitle);
  font-size: 2rem;
  padding: 1rem 0;
}
.content-presentation-1,
.content-presentation-2 {
  padding-top: 1rem;
  overflow-wrap: break-word;
}
.content-presentation-1 {
  font-size: 1.3rem;
  color: var(--accent-light);
  font-family: var(--font-subtitle);
}
.main-presentation-frame--description-rrss > div button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  /* border: 1px solid var(--color-dark-primary1); */
  border-radius: 0.5rem;
  background-color: var(--color-dark-secundary1);
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  /* color: #fff; */
  color: var(--accent-light);
  /* background: #111; */
  background: var(--color-dark-secundary1);
  cursor: pointer;
  position: relative;
  z-index: 0;
  /* border-radius: 10px; */
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  /* opacity: 0; */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

/* .glow-on-hover:active { */
/*   color: #000; */
/* } */
/**/
/* .glow-on-hover:active:after { */
/*   background: transparent; */
/* } */
/**/
/* .glow-on-hover:hover:before { */
/*   opacity: 1; */
/* } */
/**/
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.main-presentation-frame--description-rrss > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#main-projects h2 {
  text-align: center;
  font-family: var(--font-title);
  font-size: xx-large;
  margin-bottom: 2rem;
}

.main-projects--table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  padding-top: 1rem;
  margin: auto;
  justify-content: space-evenly;
}
.project-list-model {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 25rem;
  height: 25rem;
  position: relative;
  z-index: 100;
  /* padding:  0 1rem 0 1rem; */
  /* border: 0.1rem solid var(--color-primary1); */
  border-radius: 1rem;
  margin-bottom: 2.5rem;
  /* box-shadow: 3px 3px 6px 1px var(--color-primary1); */
  box-shadow: 3px 3px 20px 1px var(--color-primary1);
}
.project-list-model-with-image {
  position: relative;
  z-index: 20;
}
/* Para imagenes de aplicaciones moviles */
.project-list-model-with-image > img {
  position: absolute;
  left: calc(25rem / 4);
  z-index: 19;
  height: 25rem;
  width: calc(25rem / 2);
  border-radius: 1rem;
}
/* Para imagenes de aplicaciones web */
.project-list-model-with-image.desktop > img {
  position: absolute;
  left: 0;
  z-index: 19;
  height: 25rem;
  width: 25rem;
  border-radius: 1rem;
}
/* .project-list-model:hover {
    box-shadow: 0 0 1.5rem 0.5rem var(--color-primary1);
} */
.project-list-model--top-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0 1rem 0 1rem;
  color: var(--accent-light);
}
.project-list-model--top-menu::after {
  content: "";
  position: absolute;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 38, 43, 50%);
}
.project-list-model--top-menu p,
button,
img {
  position: relative;
  z-index: 50;
}
.project-list-model--title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.project-list-model--title > * {
  display: inline-block;
}
.project-list-model--title > img {
  width: 2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.project-list-model--title > p {
  font-family: var(--font-subtitle);
}
.project-list-model--top-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.project-list-model--top-buttons button {
  width: 2rem;
}
.project-list-model--top-buttons button:first-child {
  margin: 0.5rem;
}

.project-list-model--description-tech > p {
  padding: 1rem;
  color: white;
  background-color: rgba(39, 38, 43, 50%);
}
.p-description-animation {
  transition: all 0.5s;
  transform: translateY(5rem);
  opacity: 0;
}

.project-list-model--tech-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--accent-light);
  background-color: rgba(39, 38, 43, 50%);
  border-radius: 0 0 1rem 1rem;
}
.project-list-model--tech-buttons button {
  width: 2rem;
}
.project-list-model--tech-buttons button:nth-child(2) {
  margin: 0.5rem;
}

#main-contact {
  margin-top: 2rem;
}
#main-contact h2 {
  text-align: center;
  font-family: var(--font-title);
  font-size: xx-large;
  margin-bottom: 2rem;
}
.contact-form {
  background: radial-gradient(
    circle,
    rgba(0, 252, 255, 0.3) 50%,
    rgba(0, 0, 0, 0) 80%
  );
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
  justify-content: space-evenly;
  justify-items: center;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-primary2);
  width: 35%;
  border-radius: 1rem;
  padding: 1rem;
  /* border: 2px dotted var(--color-primary1); */
  box-shadow: 3px 3px 20px 1px var(--color-primary1);
}
.contact-form form h3 {
  font-family: var(--font-subtitle);
  margin-bottom: 1rem;
  font-size: larger;
}
.contact-form form input {
  background-image: linear-gradient(
    to right,
    var(--color-dark-secundary1),
    transparent
  );
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
  outline-style: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-image: linear-gradient(to right, var(--color-primary1), transparent);
  border-image-slice: 1;
}
.contact-form form input::placeholder {
  color: gray;
}
.contact-form form textarea::placeholder {
  color: gray;
}
.contact-form form textarea {
  background-image: linear-gradient(
    to right,
    var(--color-dark-secundary1),
    transparent
  );
  padding: 0.5rem 1rem 0.5rem 1rem;
  outline-style: none;
  overflow-y: auto;
  width: 100%;
  height: 6rem;
  resize: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-image: linear-gradient(to right, var(--color-primary1), transparent);
  border-image-slice: 1;
}
.contact-form form button {
  margin: auto;
  /* padding: 0.5rem 1rem; */
  border: 1px solid var(--color-dark-primary1);
  border-radius: 0.5rem;
  background-color: var(--color-dark-secundary1);
}
.contact-form form button .label-button-send-email.active {
  display: block;
}
.contact-form form button .label-button-send-email {
  display: none;
}
.contact-form form button .loading-send-email.active {
  display: block;
  filter: invert();
  width: 2rem;
  margin: auto;
}
.contact-form form button .loading-send-email {
  display: none;
}
.contact-form img {
  width: 30%;
  object-fit: contain;
}

footer {
  margin-top: 4rem;
  background-color: var(--color-primary2);
  padding-top: 2rem;
}
.footer h3 {
  font-size: large;
  font-weight: bold;
}
#main-footer {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.footer-logo {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.footer-logo .footer-logo--social {
  font-size: 3rem;
  color: white;
  margin: 1rem auto;
}
.footer-languages {
  width: 20%;
}
.footer-languages .footer-languages--programation {
  margin-top: 1rem;
}
.footer-languages .footer-languages--programation > svg {
  width: 2rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.footer-technologies {
  width: 20%;
}
.footer-technologies .footer-technologies--programation {
  margin-top: 1rem;
}
.footer-technologies .footer-technologies--programation > svg {
  width: 2rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.footer-information {
  width: 20%;
}
.footer-information ul {
  margin-top: 1rem;
}
#end-footer {
  margin: 2rem 0 0 0;
}
#end-footer p {
  text-align: center;
  color: white;
  padding-bottom: 2rem;
}

/* PREFERENCIAS */
.alert-message {
  display: none;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  max-width: 300px;
  /* display: grid; */
  grid-template-columns: 2rem 1fr;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-primary1);
  padding: 0.5rem;
  margin: auto;
  border-radius: 0.5rem;
  color: var(--color-secundary1);
  z-index: 50;
}
.alert-message.alert-message-active {
  display: grid;
  animation: alert-message 5s ease-in-out;
}

@keyframes alert-message {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.alert-message img {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}
.alert-message span {
  text-align: center;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*
@media (prefers-color-scheme: light) {
    body{
        color: red;
    }
}
@media (prefers-color-scheme: dark) {
    body{
        color: green;
    }
}
*/

/* ? Para Resoluciones mayores a 1366px */
@media screen and (min-width: 1366px) {
  body {
    width: 1366px;
    margin: auto;
  }
  .div-setux--buttom-language.nav--bar-button-option {
    display: none;
  }
  .project-list-model-with-image > img {
    left: calc(25rem / 4);
    height: 25rem;
    width: calc(25rem / 2);
  }
  /* Para imagenes de aplicaciones web */
  .project-list-model-with-image.desktop > img {
    left: 0;
    height: 25rem;
    width: 25rem;
  }
}

/* ? Para portátiles y escritorios pequeños */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav {
    width: 90%;
    font-size: 0.7rem;
  }
  .div-setux--buttom-language.nav--bar-button-option {
    display: none;
  }
  #main-banner {
    width: 90%;
  }
  .paragraph {
    background-size: cover;
    background-position: right;
    font-size: 3rem;
    width: 100%;
    top: 10%;
    left: 10%;
  }
  .separador-animado {
    width: 90%;
  }
  .cards-work-experience {
    width: 100%;
  }
  /* .card-skill-work-experience {
        width: 30%;
    } */
  #main-presentation {
    width: 100%;
  }
  .main-presentation--frame {
    width: 90%;
  }

  .main-projects--table {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .project-list-model {
    width: 30rem;
    height: 30rem;
  }
  .project-list-model-with-image > img {
    left: calc(30rem / 4);
    height: 30rem;
    width: calc(30rem / 2);
  }
  .project-list-model-with-image > img {
    left: 0;
    height: 30rem;
    width: 30rem;
  }
  .contact-form {
    width: 100%;
  }
  .footer-logo .footer-logo--social {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  body {
    width: 100%;
    overflow-y: auto;
  }
  nav {
    width: 95%;
    grid-template-columns: 6fr 1fr 1fr;
  }
  .nav-logo {
    grid-column: 1 / 2;
  }
  .nav-logo img {
    width: 25%;
  }
  .nav-options {
    display: none;
  }
  .nav-setux button span:hover {
    color: var(--color-primary1);
  }
  .nav-bar-option--frame {
    width: 50svw;
  }
  .button-home-main {
    bottom: 2rem;
    right: 2rem;
  }
  .div-setux--buttom-language.nav--bar-button-option.nav--bar-button-option {
    display: block;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  #main-banner {
    width: 95%;
  }
  .paragraph {
    font-size: 3.5rem;
    width: 100%;
    top: 10%;
    left: 5%;
    background-position: right;
  }
  .separador-animado {
    width: 95%;
  }
  .div-paragraph--greetting {
    font-size: 2.5rem;
  }
  .div-paragraph--profession {
    font-size: 0.5em;
  }
  .background {
    grid-template-columns: 1fr;
  }
  .div-background {
    grid-column: 1 / 2;
  }
  .cards-work-experience {
    flex-wrap: wrap;
  }
  /* .card-skill-work-experience {
        width: 100%;
        margin-bottom: 1.5rem;
    } */
  #main-presentation {
    width: 100%;
  }
  .main-presentation--frame {
    width: 95%;
  }
  .contact-form {
    flex-direction: column-reverse;
  }
  .contact-form form {
    width: 90%;
    margin: auto;
  }
  .contact-form img {
    margin: auto;
    margin-bottom: 2rem;
  }
  #main-footer {
    flex-wrap: wrap;
  }
  #main-footer > div {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    overflow-y: auto;
  }
  nav {
    width: 95%;
    grid-template-columns: 6fr 1fr 1fr;
  }
  .nav-logo {
    grid-column: 1 / 2;
  }
  .nav-logo img {
    width: 45%;
  }
  .nav-options {
    display: none;
  }
  .nav-setux button span:hover {
    color: var(--color-primary1);
  }
  .nav-bar-option--frame {
    width: 70svw;
  }
  .button-home-main {
    bottom: 1.5rem;
    right: 1.5rem;
  }
  .div-setux--buttom-language.nav--bar-button-option.nav--bar-button-option {
    display: block;
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  #main-banner {
    width: 95%;
  }
  #main-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--color-secundary1);
    opacity: 0.6;
  }
  .paragraph {
    font-size: 3.5rem;
    width: 100%;
    top: 10%;
    left: 5%;
    background-position: right;
  }
  .separador-animado {
    width: 95%;
  }
  .div-paragraph--greetting {
    font-size: 2rem;
    position: relative;
    z-index: 2;
    /* background-image: radial-gradient(var(--color-secundary1), transparent); */
  }
  .div-paragraph--profession {
    font-size: 0.5em;
    position: relative;
    z-index: 2;
    /* background-image: radial-gradient(var(--color-secundary1), transparent); */
  }
  .background {
    grid-template-columns: 1fr;
  }
  .div-background {
    grid-column: 1 / 2;
  }
  .cards-work-experience {
    flex-wrap: wrap;
    width: 90%;
  }
  /* .card-skill-work-experience {
        width: 100%;
        margin-bottom: 1.5rem;
    } */
  #main-presentation {
    width: 100%;
  }
  .main-presentation--frame .img-presentation {
    width: 10rem;
    height: 10rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0;
  }
  .main-presentation--frame .img-anillado {
    left: 40vw;
    top: -45vw;
    width: 2rem;
    height: 90vw;
    transform: rotate(90deg);
  }
  .main-presentation-frame--description {
    width: 95%;
    padding-top: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .main-presentation--frame {
    width: 95%;
    flex-wrap: wrap;
  }
  .main-projects--table {
    width: 100%;
  }
  .project-list-model {
    width: 20rem;
    height: 20rem;
  }
  .project-list-model-with-image > img {
    left: calc(20rem / 4);
    height: 20rem;
    width: calc(20rem / 2);
  }
  .project-list-model-with-image.desktop > img {
    left: 0;
    width: 20rem;
    height: 20rem;
  }
  .contact-form {
    width: 100%;
    flex-direction: column;
  }
  .contact-form form {
    width: 90%;
    margin: auto;
  }
  .contact-form img {
    margin: auto;
    width: 50%;
    margin-top: 2rem;
  }
  #main-footer {
    flex-wrap: wrap;
  }
  #main-footer > div {
    width: 40%;
  }
}
